.grid-container {
    display: grid;
    grid-template-columns: 20% 1fr 1fr 20%;
    grid-template-rows: repeat(5, .5fr) auto;
}
.input-container {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: span 2;
}
.input-container input {
    text-align: left;
    font-size: 20px;
}
.input-container md-form-field {
    width: 90%;
}
.input-button {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 2;
    color: #039be5;
    margin: 25px 0px 0px 10px;
    justify-self: end;
    -moz-justify-self: end;
}
.input-button button {
    font-weight: bold;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}
.expire-check {
    margin-top: 15px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}
.expire-date {
    margin: 0px;
    align-self: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:  4;
    padding: 0px;
}
.shorten-output {
    grid-row-start: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    font-size: 12px;
    font-weight: lighter;
    margin-top: 10px;
}